$main-color: #000000;
$background-color: #ff0000;
$first-color: #ffffff;
$second-color: #ffee00;


body {
  background-color: $background-color;
}

h1 {
  color: $main-color;
  display: flex;
}

h2 {
  color: $first-color;
  float: right;
}

.backgnd {
  background-color: $second-color;
}

p {
  color: blue;
  display: block;
  position: absolute;
  height: 15px;
  width: 20px;
}